.info_table {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.info_table_key {
  width: 14%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info_table_value {
  width: 34%;
}
@media screen and (max-width: 640px) {
  .info_table_key {
    width: 28%;
  }
  .info_table_value {
    width: 68%;
  }
}
